<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :date_published %>
    <%= form.date_select :date_published, :start_year => 1900 %>
  </div>

  <h3>Tags</h1>
  <div class="field">
    <%= form.label :semestre %>
    <%= form.select :semester_list, Book.semester_tags,
                  { :prompt => "Use CRTL para selecionar múltiplos ítens"},
                  { :multiple => true }  %>
  </div>

  <div class="field">
    <%= form.label :disciplina %>
    <%= form.select :subject_list, Book.subject_tags,
                  { :prompt => "Use CRTL para selecionar múltiplos ítens"},
                  { :multiple => true }  %>
  </div>

  <div class="field">
    <%= form.label :bacharelado %>
    <%= form.select :bachelor_list, Book.bachelors_tags,
                  { :prompt => "Use CRTL para selecionar múltiplos ítens"},
                  { :multiple => true }  %>
  </div>

  <div class="field">
    <%= form.label :licenciatura %>
    <%= form.select :non_bachelor_list, Book.non_bachelors_tags,
                  { :prompt => "Use CRTL para selecionar múltiplos ítens"},
                  { :multiple => true }  %>
  </div>

  <div class="field">
    <%= form.label :outros %>
    <%= form.select :other_list, Book.other_tags,
                  { :prompt => "Use CRTL para selecionar múltiplos ítens"},
                  { :multiple => true }  %>
  </div>

  <div class="field">
    <%= form.label "PDF do Livro" %>
    <%= form.file_field :content %>
  </div>

  <div class="field">
    <%= form.label "Capa do Livro" %>
    <%= form.file_field :cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
