<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @book.date_published %>
</p>

<% if @book.content.attached? %>
  <iframe src="<%= rails_blob_path(@book.content, disposition: :inline) %>" width="100%" height="780"></iframe> <br>
<% end %>

<% if @book.cover.attached? %>
  <%= image_tag @book.cover %>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
